body {
    background-color: rgb(230, 226, 0);
    width: 50%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

ul li {
    cursor: pointer;
    font-size: 35;
}

.done {
    text-decoration: line-through;
    background-color: rgba(199, 196, 0, 0.808);
}