* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
body{
    display: flex;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:4px 4px 4px 0px rgb(0, 0, 0);
}
.home{
    align-items: center;
    align-content: center;
    margin: 50px;
    justify-content: center;
}
span{
    color: white;
}
.btn-proj {
    width: 299px; 
    height: 297px;  
}
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 20px;
}
.project {
    width: 300px;
    height: 300px;
    border: 2px solid #FFF;
   


    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;   
}

.project{
    position:relative;
    top:0;
}
.project:hover{
    top: -4px; 
    box-shadow:4px 4px 4px 0px rgb(85, 85, 85);
    transition: all .05s ease-in-out;
  /* background-image: url(images/drum_gif.gif);*/
}

   